*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#071B35;

height:100vh;

}

.chat-container{

display:flex;

height:100vh;

}

.sidebar{

width:340px;

background:#0b2b55;

color:white;

display:flex;

flex-direction:column;

}

.top{

display:flex;

justify-content:space-between;

padding:20px;

align-items:center;

}

.top button{

background:#1d72ff;

border:none;

color:white;

padding:12px;

border-radius:50%;

cursor:pointer;

}

#searchUser{

margin:15px;

padding:12px;

border:none;

border-radius:8px;

outline:none;

}

#contactList{

flex:1;

overflow:auto;

}

.chat-window{

flex:1;

background:#102B4E;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.welcome{

text-align:center;

}

.welcome i{

font-size:70px;

margin-bottom:20px;

color:#4ea3ff;

}
.user{

background:#1b3c68;

margin:10px;

padding:15px;

border-radius:10px;

display:flex;

justify-content:space-between;

align-items:center;

color:white;

}

.user button{

background:#2f8cff;

border:none;

padding:8px 15px;

border-radius:8px;

cursor:pointer;

color:white;

}
